.container{
    font-family: "Arial", Times,  sans-serif;
}

.container2{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container3{
    font-family: Arial, Helvetica, sans-serif; 
}


.col-md-4 {
    position: relative; 
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}




  